.change-password-area {
  width: 80%;
  /* height: 300px; */
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin: 50px auto;
  padding: 30px 32px;
  box-sizing: border-box;
}

.change-password-heading {
  font-size: 24px;
  margin-bottom: 16px;
}

.change-password-notify {
  font-size: 14px;
  width: 450px;
  text-align: center;
  margin-bottom: 30px;
}

.change-password-form {
  max-width: 100%;
}

.change-password-footer {
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 8px;
  margin-top: 32px;
}

.change-password-field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 16px;
}
