.form-import-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f2f2f266;
  z-index: 3;
}

.form-import {
  position: relative;
  width: 1450px;
  height: 655px;
  margin: 40px auto;
  border-radius: 5px;
  background-color: #022366;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}

.form-import-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  box-sizing: border-box;
}

.form-import-heading {
  color: white;
}

.form-import-header-close {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -148px -148px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.form-import-content {
  padding: 0 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
}

.form-import-current-step {
  padding: 10px 0;
  box-sizing: border-box;
}

.form-import-main {
  display: flex;
  column-gap: 4px;
  align-items: flex-start;
}

.form-import-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
}

.form-import-footer-right {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
}

.form-import-current-content {
  width: 100%;
  height: 515px;
  border: 1px solid rgb(219, 219, 219);
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.next-step-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -320px -313px;
  width: 16px;
  height: 14px;
}

.previous-step-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -368px -313px;
  width: 16px;
  height: 14px;
}

.confirm-step-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -1211px -258px;
  width: 19px;
  height: 20px;
  transform: scale(0.8);
}

.cancel-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -1031px -406px;
  width: 17px;
  height: 18px;
}

.helper-import-icon {
  background: url("/src/assets/img/Sprites.64af8f61.svg") no-repeat -704px -312px;
  width: 16px;
  height: 16px;
  transform: scale(1.1);
}
